* {
  margin: 0;
  padding: 0;
}

body {
  font-family: courier, arial, helvetica;
  background: url(https://i.imgur.com/lsY6O8h.jpg) #dfdfdf repeat;
  background-size: 100px 100px;
  background-blend-mode: multiply;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.page-container {
  color: #333;
}

.description {
  margin-bottom: 8px;
}

@media only screen and (max-width: 880px) {
  .page-container h1 span {
    display: block;
  }
}
